FLASK_APP = creator.py
FLASK_ENV = development
SECRET_KEY = contraseña
DEV_DB_URI = 'postgresql://usuario:password@localhost:port/database'
TEST_DB_URI = 'postgresql://usuario:password@localhost:port/database'
PROD_DB_URI = 'postgresql://usuario:password@localhost:port/database'